.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28pt;
}
.centered2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#centred3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28pt;
}
/* Top right text */
.top-right {
  position: absolute;
  top: 108px;
  right: auto;
  left: 500px;
  font-size: 28pt;
}
#login {
  font-size: 12pt;
  bottom: 150px;
}
